.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 30px;
  gap: 1rem;
}

.card-style {
  height: 400px; // Ajusta este valor según tus necesidades
}

.mat-card-actions {
  margin-bottom: 10px; // Ajusta este valor según tus necesidades
}
